AI_Job_Scorer_&_Tracker.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        -96
      ],
      "id": "b163b49d-144b-4935-bfcb-81230def16fa",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "Actor tasks",
        "operation": "Run task and get dataset",
        "actorTaskId": {
          "__rl": true,
          "value": "V8WdjL6JbUFgAjpCL",
          "mode": "list",
          "cachedResultName": "My Job Search",
          "cachedResultUrl": "https://console.apify.com/actors/tasks/V8WdjL6JbUFgAjpCL/input"
        },
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        128,
        -96
      ],
      "id": "1464cc7a-0f28-4776-ae3d-109452f2e2dc",
      "name": "Run task and get dataset",
      "credentials": {
        "apifyApi": {
          "id": "QOpsjVmuqXKZz2t1",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        336,
        -96
      ],
      "id": "cb21ccbf-2886-4a2a-b48e-1cebc66feb39",
      "name": "Limit"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional tech recruiter.\nI am looking for a job. Here is my resume:\n\n\\documentclass[11pt,a4paper]{article}\n\n% ---------------- Page Setup ----------------\n\\usepackage[left=1.6cm,right=1.6cm,top=1.4cm,bottom=1.4cm]{geometry}\n\\usepackage{enumitem}\n\\usepackage{hyperref}\n\\usepackage{xcolor}\n\\usepackage{titlesec}\n\\usepackage{tabularx}\n\\usepackage{multicol}\n\n% ---------------- Colors ----------------\n\\definecolor{resumeBlue}{RGB}{0,102,204}\n\n% ---------------- Hyperlinks ----------------\n\\hypersetup{\n    colorlinks=true,\n    urlcolor=resumeBlue\n}\n\n% ---------------- Font & Spacing ----------------\n\\renewcommand{\\familydefault}{\\sfdefault}\n\\setlength{\\parindent}{0pt}\n\\setlength{\\parskip}{2pt}\n\n% Compact lists\n\\setlist[itemize]{\n    leftmargin=12pt,\n    topsep=1pt,\n    itemsep=1pt,\n    parsep=0pt\n}\n\n% ---------------- Section Style ----------------\n\\titleformat{\\section}\n  {\\color{resumeBlue}\\bfseries\\uppercase}\n  {}\n  {0pt}\n  {}\n  [\\color{resumeBlue}\\titlerule]\n\n\\titlespacing{\\section}{0pt}{4pt}{3pt}\n\n% ---------------- Helper Command ----------------\n\\newcommand{\\entry}[3]{\n\\textbf{#1} \\hfill \\textbf{#2}\\\\\n#3\n}\n\n% ---------------- Document ----------------\n\\begin{document}\n\n% ---------------- Header ----------------\n\\begin{center}\n{\\LARGE\\color{resumeBlue}\\textbf{RAKESH REDDY KARRI}}\\\\[4pt]\nKarlskrona, Sweden — \n\\href{mailto:rakeshreddy3466@gmail.com}{rakeshreddy3466@gmail.com} — \n+46769538795 — \n\\href{https://www.linkedin.com/in/rakesh-reddy-553033256/}{LinkedIn}\n\\end{center}\n\n% ---------------- PROFILE ----------------\n\\section*{PROFILE}\nSoftware Engineering Master’s student with growing expertise in machine learning, deep learning, and intelligent\nsystem design. Experienced in developing end-to-end AI pipelines, including computer vision models, cloud-based\ndeployments, and automated workflows. Contributed to projects involving satellite image enhancement and\nserverless image processing, with a focus on model evaluation and explainability. With hands-on skills in both\nmobile App and Web App development, I aim to build practical, user-focused solutions. My academic training,\nteamwork experience, and international exposure strengthen my communication and problem-solving abilities,\nenabling me to deliver reliable and impactful results.\n\n% ---------------- EDUCATION ----------------\n\\section*{EDUCATION}\n\n\\entry\n{BLEKINGE INSTITUTE OF TECHNOLOGY, KARLSKRONA, SWEDEN}\n{Aug 2025 — Present}\n{Master of Science in Software Engineering (Ongoing, 1st Year)}\n\n\\vspace{2pt}\n\n\\entry\n{BLEKINGE INSTITUTE OF TECHNOLOGY}\n{Sept 2024 — Jun 2025}\n{Bachelor of Technology in Computer Science Engineering}\n\\begin{itemize}\n\\item Final year in International Collaborative Program\n\\end{itemize}\n\n\\vspace{2pt}\n\n\\entry\n{JAWAHARLAL NEHURU TECHNOLOGICAL UNIVERSITY, KAKINADA, INDIA}\n{Apr 2021 — Aug 2024}\n{Bachelor of Technology in Computer Science Engineering}\n\\begin{itemize}\n\\item First three years of a Bachelor’s in an International Collaborative Program (ICP) between JNTUK and BTH.\n\\end{itemize}\n\n% ---------------- PROFESSIONAL EXPERIENCE ----------------\n\\section*{PROFESSIONAL EXPERIENCE}\n\n\\entry\n{AI Consultant, Tech Concept Lab (Blue Science Park)}\n{Nov 2025 — Present}\n{Karlskrona}\n\\begin{itemize}\n\\item Researching and developing AI-Agent implementations for real-world automation use cases.\n\\item Designing and building automated workflows using n8n for data processing, API integration, and AI-driven tasks.\n\\item Creating scalable, event-driven automation pipelines connecting AI models with business systems.\n\\item Integrating third-party services, APIs, and cloud tools to streamline operations and reduce manual workload.\n\\item Evaluating and optimizing AI workflows for reliability, performance, and automation efficiency.\n\\end{itemize}\n\n\\entry\n{Junior AI Engineer, Calebs}\n{Oct 2025 — Present}\n{India}\n\\begin{itemize}\n\\item Built and deployed AI agents to automate tasks and streamline business workflows.\n\\item Developed and maintained core AI features and LLM automation pipelines in the platform.\n\\item Supported development of data-driven decision workflows and intelligence features.\n\\item Collaborated with teams to design scalable, secure, and efficient AI solutions.\n\\end{itemize}\n\n\\entry\n{Thesis Researcher, BTH}\n{Jan 2025 — Jun 2025}\n{Karlskrona}\n\\begin{itemize}\n\\item Published : \\href{https://www.diva-portal.org/smash/record.jsf?pid=diva2:1982242}{https://www.diva-portal.org/smash/record.jsf?pid=diva2:1982242}\n\\item Developed a novel Progressive Multi-scale Attention Autoencoder (PMAA) model using python to remove\nclouds and shadows from optical satellite images.\n\\item Generated a synthetic dataset of 10,000 images using Perlin noise and volumetric rendering, based on 1,000\nground-truth images with multiple cloud/shadow variations.\n\\item Evaluated the developed PMAA model against STGAN \\& CTGAN using PSNR, SSIM, inference time metrics.\nWe could prove that the trained PMAA model Outperformed both STGAN \\& CTGAN on the generated synthetic data.\n\\item Used TensorFlow and Convolutional Autoencoders (CAE) for training and image reconstruction tasks.\n\\item Strengthened expertise in deep learning, synthetic data generation, and image restoration.\n\\end{itemize}\n\n\\entry\n{Student Ambassador \\& PREP Leader, Blekinge Institute of Technology}\n{Aug 2025 -- Present}\n{Karlskrona}\n\\begin{itemize}\n\\item Supported onboarding and academic integration of international students at BTH.\n\\item Served as a \\textbf{PREP Leader}, mentoring students academically and socially.\n\\item Acted as a communication bridge between students and faculty to improve engagement and inclusion.\n\\end{itemize}\n\n\\entry\n{Cloud Computing Intern, HDLC Technologies}\n{May 2023 — Jun 2023}\n{Chennai}\n\\begin{itemize}\n\\item Designed and deployed cloud-hosted applications using AWS as part of the project scope.\n\\item Implemented core cloud services (VMs, storage, managed databases) to support application functionality.\n\\item Configured secure access controls, resource monitoring, and cost-optimized cloud infrastructure.\n\\item Gained hands-on experience with virtualization, networking, load balancing, and containerization concepts.\n\\item Successfully completed assigned cloud project on time, certified by the organization.\n\\end{itemize}\n\n% ---------------- TECHNICAL PROJECT WORK ----------------\n\\section*{TECHNICAL PROJECT WORK}\n\n\\textbf{RecklamRadar: Smart Shopping \\& Deals Mobile App} \\hfill Nov 2024 — Jan 2025\n\\begin{itemize}\n\\item Engineered a feature-rich shopping and deals application using dart, integrating real-time store offers, an\ninteractive shopping cart, and a seamless user experience using javascript.\n\\item Implemented Firebase Authentication \\& Firestore Database for secure login, real-time data updates, and\ncloud storage.\n\\item Developed a dynamic admin panel to manage store listings, promotions, and product details efficiently.\n\\item Enhanced UI/UX with smooth animations, responsive layouts, and performance optimizations using caching,\nlazy loading, and debouncing techniques.\n\\end{itemize}\n\\textit{Tools \\& Technologies: Flutter, Dart, Firebase (Authentication, Firestore, Cloud Storage), REST APIs,\nAndroid Studio, VS Code, Git, GitHub, Postman, Gradle, Xcode.}\n\n\\vspace{2pt}\n\n\\textbf{Skill Exchange Web Application} \\hfill Sept 2025 — Oct 2025\n\\begin{itemize}\n\\item Full-Stack Development: Engineered the SkillSwap Learning Network, a peer-to-peer skill exchange platform,\nusing React (frontend) and Node.js/Express.js (backend).\n\\item Security \\& Real-time: Implemented JWT/bcryptjs authentication and integrated Socket.io for real-time\nfeatures like live chat and notifications.\n\\item Database \\& Deployment: Managed data via a 9-table SQLite schema and ensured production readiness\nthrough Docker containerization.\n\\end{itemize}\n\\textit{Tools \\& Technologies: React, Node.js/Express.js, Socket.io, JWT, SQLite, Docker.}\n\n\\vspace{2pt}\n\n\\textbf{Research : Performance Comparison of Raw SQL \\& SQLAlchemy ORM in PostgreSQL} \\hfill Sept 2024 — Nov 2025\n\\begin{itemize}\n\\item Benchmarked Raw SQL vs. SQLAlchemy ORM for CRUD performance in PostgreSQL (100–50k records).\n\\item Found Raw SQL was faster for insertions/updates; SQLAlchemy better for abstraction.\n\\item Delivered insights for optimizing scalable application database approach selection.\n\\end{itemize}\n\n\\textbf{Autonomous Email Lead Manager \\& AI Workflow Orchestrator – n8n + OpenAI}\\\\\nDeveloped an autonomous AI pipeline that reads and processes emails, extracts and prioritizes leads, summarizes\nmessages, and assigns follow-up tasks. Built agentic workflows with self-correction, memory, API calls, and\nmulti-step LLM planning to enhance accuracy and minimize manual work.\n\n\\begin{itemize}\n\\item Built an event-driven automation system for ingesting, enriching, and managing business leads.\n\\item Architected decoupled workflows to separate job triggering from downstream data processing.\n\\item Integrated multiple external APIs while handling authentication, rate limits, and partial failures.\n\\item Designed workflows to mirror real-world production automation patterns used in enterprise systems.\n\\end{itemize}\n\n\\textbf{Autonomous AI Agent Defense for Enterprise Security}\n\\begin{itemize}\n\\item Developed a multi-agent system simulating attacks and defenses on an enterprise AI application.\n\\item Implemented automated risk detection, response generation, and persistent security rules.\n\\item Simulated attack scenarios including payload obfuscation, encoded injections, and tool misuse.\n\\item Designed a closed-loop defense mechanism enabling continuous self-improvement across attack cycles.\n\\end{itemize}\n% ---------------- TECHNICAL SKILLS ----------------\n\\section*{TECHNICAL SKILLS}\n\\textbf{Programming:} Python, C/C++, Java, JavaScript\\\\\n\\textbf{Web/Mobile:} React, Flutter, Firebase, Android Studio\\\\\n\\textbf{Cloud/DevOps:} AWS (EC2, S3, Lambda), Docker, CI/CD\\\\\n\\textbf{AI/ML:} TensorFlow, PyTorch, OpenCV, Machine Learning\\\\\n\\textbf{Automation:} n8n, Workflow Automation, REST APIs, SQL\n\n% ---------------- COURSES ----------------\n\\section*{COURSES}\nSupervised Machine Learning: Regression and Classification - Completed an online course by DeepLearning., AI\nand Stanford University, instructed by Andrew Ng, via Coursera.\n\n% ---------------- ACHIEVEMENTS ----------------\n\\section*{ACHIEVEMENTS}\nAwarded a merit-based scholarship for the Master of Science in Software Engineering program in Sweden at\nBlekinge Institute of Technology.\n\n\\end{document}\n\n\n----------------\nJOB DESCRIPTION:\n{{ $json.descriptionText }}\n\n----------------\nTASK:\nAnalyze the job description against my resume.\n1. Give a \"match_score\" between 0 and 100.\n2. Explain the \"reason\" in one short sentence.\n3. Extract the \"company_name\" and \"job_title\".\n\nReturn ONLY valid JSON in this format:\n{\n\"match_score\": 85,\n\"reason\": \"Matches your Python skills but requires more React experience.\",\n\"company_name\": \"Company X\",\n\"job_title\": \"Developer\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        768,
        -96
      ],
      "id": "a2f2c488-6927-43ce-8029-f76db18e9dcd",
      "name": "Message a model",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "HjCM6qzLYEHglfWA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Get the AI's analysis\nconst text = $input.item.json.content.parts[0].text;\nconst cleanText = text.replace(/```json|```/g, '').trim();\nconst aiData = JSON.parse(cleanText);\n\n// 2. Get the original job DIRECTLY from the Loop node\n// (We use .first() because the loop gives us 1 item at a time)\nconst originalJob = $('Loop Over Items').first().json;\n\n// 3. Merge them together\nreturn {\n  ...originalJob,\n  ...aiData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -96
      ],
      "id": "1314c294-b8a9-48b4-b8da-539ff9d12b40",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-NgO0cNlr9Kj6FHUpYEv8TN3lLo0VbcvmRtHA95KOTk",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-NgO0cNlr9Kj6FHUpYEv8TN3lLo0VbcvmRtHA95KOTk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-NgO0cNlr9Kj6FHUpYEv8TN3lLo0VbcvmRtHA95KOTk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company": "={{ $json.companyName }}",
            "role": "={{ $json.title }}",
            "score": "={{ $json.match_score }}",
            "reason": "={{ $json.reason }}",
            "link": "={{ $json.link }}"
          },
          "matchingColumns": [
            "link"
          ],
          "schema": [
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1312,
        -96
      ],
      "id": "4d098409-ad6c-4c5f-a1b1-359a021626c4",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "czx1z7DBM84bZf9P",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        544,
        -96
      ],
      "id": "0eb9c433-aaa9-4c10-a812-542a3f44cf99",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1472,
        -112
      ],
      "id": "03173aa4-4d41-4aa5-8dd5-3c1a6bf9b62e",
      "name": "Wait",
      "webhookId": "ae882e9e-bf36-4f5c-9238-7f45e6d15111"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Run task and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run task and get dataset": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6388532f-51eb-48f5-ba87-99e7ac67140f",
  "meta": {
    "instanceId": "3ad25db5cc071945bd0b98c5d4084c7c3096b08568a5865c8b179525bea59088"
  },
  "id": "1ATJRQgAllloe0EeQ6seC",
  "tags": []
}
